<h1>New Supply</h1>

<%= render partial: '/errors/invalid', locals: {obj: @supply}%>

<%= form_for(@supply) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>
    <%= f.label :tot_quantity, "Quantity" %>
    <%= f.number_field :tot_quantity %><br><br>
    <%= f.submit %>
<% end %>