<h1>New Category</h1>

<%= render partial: '/errors/invalid', locals: {obj: @category}%>

<%= form_for(@category) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %> <br><br>
    <%= f.submit %>
<% end %>