<!DOCTYPE html>
<html>
  <head>
    <title>Ppc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if logged_in? %>
        <%= link_to 'All Parties', parties_path %> |
        <%= link_to 'New Party', new_party_path %> |
        <%= link_to 'Supplies', supplies_path %> |
        <%= link_to 'Categories', categories_path %> |
        <%= link_to 'Home', user_path(current_user) %> |
        <%= link_to 'Logout', '/logout', method: :delete %> |
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
